[mysqld]
bind-address = 127.0.0.1
socket = /var/run/mysqld/mysqld.sock
datadir = /var/lib/mysql
innodb_buffer_pool_size = 32M
performance_schema = OFF
max_connections = 20
skip-name-resolve

[client]
socket = /var/run/mysqld/mysqld.sock
